[tool.poetry]
name = "biip"
version = "3.3.0"
description = "Biip interprets the data in barcodes."
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/jodal/biip"
repository = "https://github.com/jodal/biip"
documentation = "https://biip.readthedocs.io"
keywords = ["barcodes", "ean", "isbn", "gs1", "gtin", "upc"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
]

[tool.poetry.dependencies]
python = "^3.8.0"
py-moneyed = { version = ">=0.8", optional = true }

[tool.poetry.extras]
money = ["py-moneyed"]

[tool.poetry.group.darglint.dependencies]
darglint = "^1.8.1"

[tool.poetry.group.dev.dependencies]
beautifulsoup4 = "^4.12.2"
httpx = "^0.27.0"
nox = ">=2023.4.22,<2025.0.0"
py-moneyed = "^3.0"
types-beautifulsoup4 = "^4.12.0.6"

[tool.poetry.group.docs.dependencies]
sphinx = ">=7"                   # Requires Python 3.9+
sphinx-rtd-theme = ">=2"
sphinx-autodoc-typehints = ">=2"

[tool.poetry.group.mypy.dependencies]
mypy = "1.11.0"

[tool.poetry.group.pyright.dependencies]
pyright = "1.1.373"

[tool.poetry.group.ruff.dependencies]
ruff = "^0.5.0"

[tool.poetry.group.tests.dependencies]
coverage = { extras = ["toml"], version = "^7.3.2" }
pytest = "^8.0.1"
pytest-cov = ">=4.1,<6.0"
xdoctest = "^1.1.3"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["biip"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--xdoc"

[tool.mypy]
no_implicit_optional = true
warn_return_any = true
warn_redundant_casts = true
warn_unused_configs = true
strict_equality = true

[[tool.mypy.overrides]]
module = "biip.*"
disallow_untyped_defs = true

[tool.ruff]
target-version = "py38"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "PLR2004", # magic-value-comparison
    "S101",    # assert
    #
    # These rules interfere with `ruff format`
    "COM812", # missing-trailing-comma
    "ISC001", # single-line-implicit-string-concatenation
]

[tool.ruff.lint.per-file-ignores]
"docs/*" = [
    "INP001", # implicit-namespace-package
]
"scripts/*" = [
    "INP001", # implicit-namespace-package
    "T201",   # print
]
"tests/*" = [
    "D",    # pydocstyle
    "S101", # assert
]

[tool.ruff.lint.isort]
known-first-party = ["biip"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.pyright]
pythonVersion = "3.8"
venvPath = "."
venv = ".venv"
typeCheckingMode = "strict"
# Already covered by tests and careful import ordering:
reportImportCycles = false
# Already covered by flake8-self:
reportPrivateUsage = false

[build-system]
requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"
