[tool.poetry]
name = "biip"
version = "1.0.0"
description = "Biip interprets the data in barcodes."
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache License, Version 2.0"
readme = "README.md"
homepage = "https://github.com/jodal/biip"
repository = "https://github.com/jodal/biip"
documentation = "https://biip.readthedocs.io"
keywords = ["barcodes", "ean", "isbn", "gs1", "gtin", "upc"]
classifiers = [
   "Development Status :: 5 - Production/Stable",
   "Intended Audience :: Developers",
   "Topic :: Software Development :: Libraries",
   "License :: OSI Approved :: Apache Software License",
   "Programming Language :: Python :: 3",
   "Programming Language :: Python :: 3.6",
   "Programming Language :: Python :: 3.7",
   "Programming Language :: Python :: 3.8",
   "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.6.1"
dataclasses = {version = "^0.8", python = ">=3.6,<3.7"}
importlib_metadata = {version = ">=1.6,<4.0", python = "<3.8"}
py-moneyed = {version = ">=0.8", optional = true}

[tool.poetry.extras]
money = ["py-moneyed"]

[tool.poetry.dev-dependencies]
beautifulsoup4 = "^4.9.1"
black = {version = "^20.8b1", allow-prereleases = true}
codecov = "^2.1.8"
coverage = {extras = ["toml"], version = "^5.1"}
darglint = "^1.3.0"
flake8 = "^3.8.1"
flake8-annotations = "^2.1.0"
flake8-black = "^0.2.1"
flake8-bugbear = "^21.3.1"
flake8-docstrings = "^1.5.0"
flake8-isort = "^4.0.0"
isort = "^5.8.0"
mypy = "^0.812"
py-moneyed = ">=0.8"
pytest = "^6.0"
pytest-cov = "^2.8.1"
requests = "^2.23.0"
sphinx = "^3.5.4"
sphinx-rtd-theme = "^0.5.2"
sphinx-autodoc-typehints = "^1.12.0"
xdoctest = "^0.15.0"

[tool.black]
target-version = ["py36", "py37", "py38"]

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["biip"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--xdoc"

[build-system]
requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"
