[tool.poetry]
name = "biip"
version = "0.1.0"
description = "Biip interprets the data in barcodes."
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache License, Version 2.0"
readme = "README.md"
homepage = "https://github.com/jodal/biip"
repository = "https://github.com/jodal/biip"
keywords = ["barcodes", "ean", "isbn", "gs1", "gtin", "upc"]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = {version = "^19.10b0", allow-prereleases = true}
coverage = {extras = ["toml"], version = "^5.1"}
pytest-cov = "^2.8.1"
flake8 = "^3.8.1"
flake8-bugbear = "^20.1.4"
flake8-import-order = "^0.18.1"
flake8-black = "^0.1.2"
mypy = "^0.770"
flake8-annotations = "^2.1.0"
flake8-docstrings = "^1.5.0"
darglint = "^1.3.0"
xdoctest = "^0.12.0"

[tool.black]
target-version = ["py37", "py38"]
line-length = 80

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["biip"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
