[tool.poetry]
name = "biip"
version = "0.5.2"
description = "Biip interprets the data in barcodes."
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache License, Version 2.0"
readme = "README.md"
homepage = "https://github.com/jodal/biip"
repository = "https://github.com/jodal/biip"
documentation = "https://biip.readthedocs.io"
keywords = ["barcodes", "ean", "isbn", "gs1", "gtin", "upc"]

[tool.poetry.dependencies]
python = "^3.7"
importlib_metadata = {version = "^1.6.0", python = "<3.8"}
py-moneyed = {version = "^0.8.0", optional = true}

[tool.poetry.extras]
money = ["py-moneyed"]

[tool.poetry.dev-dependencies]
pytest = "^6.0"
black = {version = "^20.8b1", allow-prereleases = true}
coverage = {extras = ["toml"], version = "^5.1"}
pytest-cov = "^2.8.1"
flake8 = "^3.8.1"
flake8-bugbear = "^20.1.4"
flake8-import-order = "^0.18.1"
flake8-black = "^0.2.1"
mypy = "^0.782"
flake8-annotations = "^2.1.0"
flake8-docstrings = "^1.5.0"
darglint = "^1.3.0"
xdoctest = "^0.14.0"
requests = "^2.23.0"
beautifulsoup4 = "^4.9.1"
sphinx = "^3.2.0"
sphinx_rtd_theme = "^0.5.0"
sphinx-autodoc-typehints = "^1.11.0"
codecov = "^2.1.8"
py-moneyed = "^0.8.0"

[tool.black]
target-version = ["py37", "py38"]
line-length = 80

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["biip"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--xdoc"

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
